//Microsoft Visual C++ generated resource script.
//
#pragma code_page(65001)  // 强制使用 UTF-8 编码

#include "Resource.h"
#include <winresrc.h>
#define IDC_STATIC      (-1)

/////////////////////////////////////////////////////////////////////////////
//
// Version
//

#include "version.h"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION APP_VERSION_CSV
 PRODUCTVERSION APP_VERSION_CSV
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "FileDescription", "Simple Todo Application"
            VALUE "FileVersion", APP_VERSION_STR
            VALUE "InternalName", "SimpleTodo"
            VALUE "LegalCopyright", "Copyright (C) 2026"
            VALUE "OriginalFilename", "SimpleTodo.exe"
            VALUE "ProductName", "Simple Todo"
            VALUE "ProductVersion", APP_VERSION_STR
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END


/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// ICON resource with different sizes for better display quality
IDR_MAINFRAME           ICON                    "app_icon.ico"


/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_ADDTODO DIALOGEX 0, 0, 380, 230
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME
CAPTION "添加任务"
FONT 9, "Microsoft YaHei UI", 400, 0, 0x1
BEGIN
    // 标题
    LTEXT           "标题 *",IDC_LBL_TITLE,12,10,100,12,SS_LEFT
    EDITTEXT        IDC_TITLE_EDIT,12,24,356,14,ES_AUTOHSCROLL | ES_LEFT | WS_BORDER | WS_TABSTOP

    // 备注
    LTEXT           "备注",IDC_LBL_NOTE,12,50,100,12,SS_LEFT
    EDITTEXT        IDC_NOTE_EDIT,12,64,356,50,ES_MULTILINE | ES_LEFT | ES_AUTOVSCROLL | WS_BORDER | WS_TABSTOP | WS_VSCROLL

    // 优先级
    LTEXT           "优先级",IDC_LBL_PRIORITY,12,120,50,12,SS_LEFT
    COMBOBOX        IDC_PRIORITY_COMBO,12,134,100,80,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    // 项目
    LTEXT           "项目",IDC_LBL_PROJECT,130,120,50,12,SS_LEFT
    COMBOBOX        IDC_PROJECT_COMBO,130,134,100,80,CBS_DROPDOWN | CBS_AUTOHSCROLL | WS_VSCROLL | WS_TABSTOP

    // 截止时间
    LTEXT           "截止时间",IDC_LBL_DEADLINE,250,120,60,12,SS_LEFT
    CONTROL         "",IDC_END_TIME_DATETIME,"SysDateTimePick32",DTS_RIGHTALIGN | WS_TABSTOP | DTS_APPCANPARSE,250,134,118,14

    // 快捷日期按钮
    PUSHBUTTON      "今天",IDC_TODAY_BTN,250,154,38,14
    PUSHBUTTON      "明天",IDC_TOMORROW_BTN,290,154,38,14
    PUSHBUTTON      "本周",IDC_THIS_WEEK_BTN,330,154,38,14

    // 分隔线
    LTEXT           "",IDC_STATIC,12,176,356,1,SS_ETCHEDHORZ

    // 按钮
    DEFPUSHBUTTON   "确定",IDOK,268,182,50,14,BS_NOTIFY | BS_DEFPUSHBUTTON
    PUSHBUTTON      "取消",IDCANCEL,324,182,50,14
END


/////////////////////////////////////////////////////////////////////////////
//
// Menu - Chinese (默认)
//

IDR_MAINFRAME MENU
BEGIN
    POPUP "文件(&F)"
    BEGIN
        MENUITEM "导出 CSV(&E)...",            ID_TODO_EXPORT
        MENUITEM "导出 todo.txt(&T)...",       ID_TODO_EXPORT_TXT
        MENUITEM SEPARATOR
        MENUITEM "退出(&X)",                      ID_APP_EXIT
    END
    POPUP "编辑(&E)"
    BEGIN
        MENUITEM "添加任务(&A)\tCtrl+N",         ID_TODO_ADD
    END
    POPUP "视图(&V)"
    BEGIN
        MENUITEM "展开全部(&E)",                ID_VIEW_EXPAND_ALL
        MENUITEM "收起全部(&C)",              ID_VIEW_COLLAPSE_ALL
        MENUITEM SEPARATOR
        MENUITEM "窗口置顶(&T)",               ID_WINDOW_TOPMOST
    END
    POPUP "帮助(&H)"
    BEGIN
        MENUITEM "切换为英文(&E)",                ID_LANGUAGE_ENGLISH
        MENUITEM SEPARATOR
        MENUITEM "关于(&A)...",                  ID_APP_ABOUT
    END
END

/////////////////////////////////////////////////////////////////////////////
//
// Menu - English
//

IDR_MAINFRAME_EN MENU
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "Export &CSV...",            ID_TODO_EXPORT
        MENUITEM "Export &todo.txt...",        ID_TODO_EXPORT_TXT
        MENUITEM SEPARATOR
        MENUITEM "E&xit",                      ID_APP_EXIT
    END
    POPUP "&Edit"
    BEGIN
        MENUITEM "&Add Todo\tCtrl+N",         ID_TODO_ADD
    END
    POPUP "&View"
    BEGIN
        MENUITEM "E&xpand All",                ID_VIEW_EXPAND_ALL
        MENUITEM "&Collapse All",              ID_VIEW_COLLAPSE_ALL
        MENUITEM SEPARATOR
        MENUITEM "Window &Topmost",            ID_WINDOW_TOPMOST
    END
    POPUP "&Help"
    BEGIN
        MENUITEM "Switch to &Chinese",         ID_LANGUAGE_CHINESE
        MENUITEM SEPARATOR
        MENUITEM "&About...",                  ID_APP_ABOUT
    END
END


/////////////////////////////////////////////////////////////////////////////
//
// ACCELERATORS
//

IDR_MAINFRAME ACCELERATORS
BEGIN
    "N",            ID_TODO_ADD,         VIRTKEY, CONTROL, NOINVERT
END


/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE
BEGIN
    IDR_MAINFRAME           "Simple Todo"
END
